.navbar-brand{
    margin-left: 7rem;
}
.container{
    height: calc(100vh - 56px);
    text-align: center;
    align-content: center;
}
.btn-dark{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.navbar-collapse{
    transform: translate(0px);
    transition: all 1s;
}
.collapse:not(.show){
    transform: translate(-80px);
    transition: all 1s;
    display: block;
}
@media screen and (max-width: 912px)  {
    .none{
        display: none !important;
    }
}
@media screen and (min-width: 1023px){
    .navbar-collapse{
        display: none;
    }
}
