body{
    padding: 5rem 0px;
}
.row{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.content{
    display: flex;
    justify-content: space-between;
}
.upper-part{
    border: 2px dashed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 0.2rem;
    height: 50vh;
}
.para{
    font-size: 1.2rem;
}
i{
    font-size: 1.5rem;
}
.download{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
#js-input{
    display: none;
}
img{
    object-fit: cover;
    display: none;
}

.lower-element{
    display: none;
}

.lower-element .text-para{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.form-label{
    padding-left: 0.3rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



@media only screen and (max-width: 600px) {
    #row1{
        padding: 0px 1.5rem;
    }
    .content{
        gap: 2rem;
    }
    .download{
        flex-direction: column;
    }
}
