*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: grey;
}
.card{
    border-radius: 25px;
    background-color: white;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
}
.card-image .card-img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.slide-content{
    margin: 0px 40px;
}