@import url(login.css);
#form p {
  color: red;
  margin: 0px;
  display: none;
}
@media only screen and (max-width: 600px) {
  .form {
    padding-right: 0px;
  }
  .heading {
    font-size: 30px;
  }
  .new-signup {
    font-size: 1rem;
    margin: 25px 0px;
  }
  .banner {
    display: none;
  }
}
@media only screen and (min-width: 650px) and (max-width: 1024px) {
  .form {
    padding-right: 1rem;
  }
  .banner {
    align-content: center;
  }
  .heading {
    font-size: 30px;
  }
  .new-signup {
    font-size: 1rem;
    margin: 25px 0px;
  }
}
